<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @site.nombre %>
</p>

<p>
  <b>Descripcion:</b>
  <%= @site.descripcion %>
</p>

<p>
  <b>Precio:</b>
  <%= @site.precio %>
</p>

<p>
  <b>Transporte:</b>
  <%= @site.transporte %>
</p>

<p>
  <b>Direccion:</b>
  <%= @site.direccion %>
</p>

<p>
  <b>Category:</b>
  <%= @site.category %>
</p>


<%= link_to 'Edit', edit_site_path(@site) %> |
<%= link_to 'Back', sites_path %>
<%= link_to 'home', home_index_path %>

