<!DOCTYPE html>
<html>
<head>
  <title>AppCoco</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <link href='http://fonts.googleapis.com/css?family=Fugaz+One' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render 'share/nav'%>

<%= yield %>
<footer>
	<div id="copy">
			<div class="container">
				<div id="copy-right">
					<a href="/terms/">Terms and Conditions</a>
					<span class="separator">|</span>
					<a href="/privacy/">Privacy</a>
					<span class="separator">|</span>
					Share <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A//escapeflight.com/" id="footer-fb" target="_blank" data-sharing-popup="600,240" data-analytics="SocialMediaClicks, FacebookShare"><strong>on Facebook</strong></a> <a href="https://plus.google.com/share?url=http%3A//escapeflight.com/" id="footer-go" target="_blank" data-sharing-popup="600,240" data-analytics="SocialMediaClicks, TwitterShare"><strong>on Google+</strong></a> <a href="https://twitter.com/intent/tweet?hashtags=escapeflight&amp;text=Need%20to%20get%20out%20of%20the%20city%3F%20Escape%20Flight%3A%20the%20new%20online%20service%20that%20only%20flies%20this%20weekend&amp;url=http%3A//escapeflight.com/" id="footer-tw" target="_blank" data-sharing-popup="600,240" data-analytics="SocialMediaClicks, GoogleShare"><strong>on Twitter</strong></a>
				</div>
				
				<div id="copyright">© 2013 Escape Flight <span id="rights">B-Reel Products, LLC. All rights reserved.</span></div>
				
				<div class="clear"></div>
			</div>
		</div>
</footer>

</body>
</html>
